.boton-encriptar{
	color: #FFFFFF;
	background: #0A3871;
	box-sizing: border-box;
	border-radius: 24px;
}

.boton-desencriptar{
	background: #D8DFE8;
	border: 1px solid #0A3871;
	box-sizing: border-box;
	border-radius: 24px;
}

.columnas-derecha{
	background: red;
	border-radius: 32px;
}

.columnas-izquierda{
	border-radius: 32px;
	
}

textarea{
	resize: none;
}
